:root {
  --color-secondary: rgb(107, 123, 147);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  font-family: "Inter", sans-serif;
}

.link {
  color: #16192c;
  text-decoration: none;
}

.link:hover {
  color: #4e52d0 !important;
}

.card {
  width: 25%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 /0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.avatar-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}

.avatar {
  width: inherit;
  object-fit: cover;
  object-position: center;
  transition: opacity 100ms ease-in-out;
}

.camera {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 25px;
  transition: transform 100ms ease-in-out;
}

.avatar-wrapper:hover .avatar {
  opacity: 0.6;
}

.avatar-wrapper:hover .camera {
  transform: translate(-50%, -50%) scale(1);
}

.user-description {
  text-align: center;
  margin: 1.5rem 0;
}

.user-description :where(.name, .job),
.user-account-detail > * > * {
  margin-block: 0;
  margin-inline: 0;
}

.user-description .name {
  font-weight: 600;
  font-size: 1rem;
  color: #16192c;
  text-decoration: none;
  display: block;
  margin: 0 auto 0.25rem;
  width: fit-content;
}

.user-description .job {
  font-size: 0.8rem;
  color: var(--color-secondary);
}

.user-account-detail {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.user-account-detail a {
  font-weight: 700;
  display: block;
  margin: 0 auto 0.25rem;
  width: fit-content;
}

.user-account-detail span {
  font-size: 0.8rem;
  text-align: center;
  display: block;
  color: var(--color-secondary);
}
